/* Cards por @Luancss */

#background {
  transition: all 2s;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  opacity: 50%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}
body * {
  transition: all 0.2s;
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
  display:inline-block;
}
#nome {
  animation-fill-mode: forwards;
  transition: all 1s ease;
  transition: text-shadow 0.3s ease;
}
#nome:hover {
text-shadow:#FFFFFF80 0px 0px 15px;
}
.descrip {
  font-weight: bold;
  padding-top: 5px;
}

header {
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}



main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

a {
  color: #00e1ff;
}

.projects {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  margin-bottom: 5rem;
}

#footerlinks {
  padding: 20px;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 20px;
  opacity: 80%;
  color: rgb(255, 255, 255);
}

#footerlinks:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transition: none;
  opacity: 100%;
}

.orbit-card {
  position: relative;
  width: 350px;
  height: 220px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px 1px #00000060;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
}
.orbit-card.firstcard {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}
.orbit-card a {
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  display: inline-flex;
  color: transparent;
  font-weight: bold;
}
.orbit-card p {
  color: transparent;
}
.orbit-card.firstcard p {
  color: white;
  opacity: 80%;
  padding-top: 10px;
}

.orbit-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.orbit-card:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.orbit-card-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: transparent;
  opacity: 0%;
  pointer-events: none;
}
.orbit-card-content.firstcard {
  color: white;
  opacity: 100%;
}

.orbit-card:hover .orbit-card-content {
  color: white;
  transition: all 0.2s;
  opacity: 100%;
}
.orbit-card:hover .orbit-card-content p {
  color: white;
}
.orbit-card:hover .orbit-card-content a {
  color: rgb(2, 255, 242);
  pointer-events: auto;
}
.orbit-card:hover img {
  opacity: 0%;
}

.orbit-card-title {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}

.orbit-card-description {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 1.4;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  font-weight: 600;
  margin: 5px 0;
}

.orbit-card-content a:hover {
  color: white !important;
}
a:hover {
  color: #ffffff;
}


.footlinks {
  letter-spacing: 10px;
  display: inline-block;
  width: 100px;
  margin: auto;
}

#projetoscard {
animation: hover 5s infinite ease-in-out;

}



@keyframes scale {
  0% {
    text-shadow:0; }
  50% {
    text-shadow:#ffffff 0px 0px 10px
  }
  100% {
    text-shadow:0;
  }
}

@keyframes hover {
  0% {
    transform:translateY(-5px); }
  50% {
    transform:translateY(5px);
  }
  100% {
    transform:translateY(-5px);
  }
}
