@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
/* Variáveis tema escuro */
body {
  --background-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
}

/* Reset CSS */
* {
  box-sizing: border-box;

}
body {
  color:var(--text-color);
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}
