#background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  opacity: 50%;
}

body {
  background-color: rgb(226, 226, 226);
  color:black;
}


#rua {
  background-color: rgba(0, 0, 0, 0.2);

  border: 1 solid white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color:black;
}

#footclass a:hover {
  color: rgb(0, 0, 0) !important;
  transition: all 0.2s;
}

#cep {
  background-color: rgba(0, 0, 0, 0.5);
}
