body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.escondido {
  display: none;
}

button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
